.DS_Store
*~.*
*[Bb]uild/
.idea/
*.dSYM/
*.exe
*.old

.repos/
.bootstrap.auto/
.bootstrap.local/

xcuserdata/
old/
tmp/
project.xcworkspace/

/dependencies/
/addictions/
/include/
/lib/
/cityhash/

/tests/mulle-tests
/bin/mulle-homebrew
/mulle-configuration

/tests/include/
/tests/lib/
/tests/pointerarray/pointerarray
/tests/pointerarray/simple
/tests/hashmap/hashmap
/tests/hashmap/othersimple
tests/array/example
tests/array/pointerarray
tests/array/simple
tests/hashmap/example
tests/array/example.debug
tests/hashmap/example.debug
tests/hashmap/hashmap.debug
tests/array/empty
tests/array/empty.debug